{% extends 'base.html' %}
{% block content %}
<h1>{{ contract.name }} ({{ contract.acronym }})</h1>

<div class="contract-details">
    <p><strong>Family:</strong> {{ contract.family }}</p>
    <p><strong>Class:</strong> {{ contract.class }}</p>
    <p><strong>Description:</strong> {{ contract.description }}</p>
    <p><strong>Coverage:</strong> {{ contract.coverage }}</p>
    <p><strong>Status:</strong> {{ contract.get('status', 'Not specified') }}</p>
    <p><strong>Identifier:</strong> {{ contract.identifier }}</p>
</div>

<div class="contract-details">
    <p><strong>Applicability rules</strong></p>
    <p><strong>Definitions</strong> </p>
    <p>CA: means contract attribute (or field) in the data dictionary</p>              
    <p>CT: means contract type</p>
    <hr>
    <p><strong>Syntax</strong> </p>
    <p>a(b,c,d)e</p> 
    <p>a is used in case all b, c, d, e are empty (i.e. a = a( , , ) )</p>
    <p><strong>Rules</strong></p>
    <p>a: { [ ], NN, x } </p>
    <ul>
        <li> []: 	(i.e. empty ) means that this CA is not applicable for the respective CT </li>
 	 	<li> NN: 	(i.e. not null) means that this CA is mandatory for the respective CT </li>
 	    <li> x: 	(i.e. optional) means that this CA is optional for the respective CT </li>
    </ul>
    <p>b: { [ ], integer } 	 	indicates the CA group (if any) on which further business rules are imposed: </p>
    <ul>
        <li> [ ]: 	(i.e. empty ) means that no group business rules are imposed on this CA for the respective CT </li>
        <li> integer: 	defines a group of CAs on which a business rule is imposed. All CAs within the same group are subject to some business rule for CA consistency as defined by parameter ‘c’ </li>
    </ul>
    

    <p>c: { [ ], 1, 2, 3, 4, 5, 6 }  	 	indicates the CA group business rule applicable to the respective CA and CT within group defined by parameter ‘b’: 
    <ul> 
        <li>0: 	Driver attribute, or, business rule ‘a’ applies unconditionally to the CA within the respective group </li>
        <li>1:  business rule ‘a’ applies provided that at least one of the unconditional CAs of this group is defined </li>
        <li>2:  At least one of the CAs with c=2 in this group has to be defined provided that at least one of the unconditional CAs of the group is defined (if any exists) </li>
        <li>3:  business rule ‘a’ applies provided that CA IPCB of the group takes the value NTIED </li>
        <li>4:  at least one of the CAs with c=4 in this group has to be defined provided that CA IPCB of the group takes the value NTL </li>
    </ul>	 
    <p>d: { [ ], 1, 2 } 	 	indicates the parent / child business rule applicable to the respective CA and CT. These rules apply in the context of “regular” parent / child structures only and not for child contracts of CEC and SECUR CTs </p> 
    <ul>  	 
        <li>[ ]: 	(i.e. empty) means that the applicability business rules a, b, c apply on child and parent CTs </li>
        <li>NN(b, c, 1): 	means that the CA and business rules b, c is mandatory on stand-alone and parent CTs only and not applicable on child CTs </li>
        <li>NN(b, c, 2): 	means that the CA and business rules b, c is mandatory on stand-alone and parent CTs only and optional on child CTs  </li>
        <li>NN(b, c, 3): 	means that the CA and business rules b, c is mandatory on child CTs only and not applicable on parent CTs  </li>
        <li>x(b, c, 1): 	means that the CA and business rules b, c is optional on stand-alone and parent CTs only and not applicable on child CTs  </li>
    </ul> 	 
    <p>e: { [ ], integer } 	 	Special rules that are independent of the a,b,c,d rules and apply across different CAs but within a CT  </p>
    <ul>  
        <li>[ ]: 	means no special rule applies </li>
        <li>1: 	If IPPNT=B then RRPNT must be E </li>
        <li>2: 	For ANN and ANX, PR and RR cycle must be synchronized. That is, if RRCL is set then it must be the same or a multiple of PRCL. Further, RRANX must be at a PR schedule date. </li>
    </ul> 

    <hr>

    <p><strong>Additional rules</strong></p>
    Array-type CAs: 	 	In general, optional or conditional array-type CAs must be of length (i.e. number of array-elements) 1 or have the same length as the array-type ANX CA in the respective business rule group 
 	 	 	 	-> if length 1: then use the single array-element for all array-periods 


    <p><strong>Explanation</strong> </p>
    <p>business rule a(b,c,d) defines through rule ‘a’ whether a CA is non-applicable, mandatory, or optional, rule ‘b’ indicates whether the same applicability rule is subject to further conditional group rule ‘c’, and rule ‘d’ defines an additional applicability rule that may apply in the context of stand-alone or parent-child CTs. In addition, rule 'e' is a special rule that generally apply across different attribute groups and govern the value of a CA in one group given the value of another CA in the other group.</p>


    <p><strong></strong>General array rule (applies to any array-type CA)</strong></p>
<p>In general, optional or conditional array-type CAs must be of length (i.e. number of array-elements) 1 or have the same length as the array-type ANX CA in the respective business rule group
<p> ->if length 1: then use the single array-element for all array-periods</p>
<p>-> if same length as driving array-type CA: then use for each array period the respective element</p>


<hr>
</div>

<div class="contract-details">
      {% for group, terms in contract_terms_sent.items() %}
            <div class="group-class">
                <h3>{{ group }}</h3>
                {% for key, value in terms %}
                    <div class="super-checkbox-container">
                        <div class="checkbox-container">
                            <div class="test0">
                                <span class="toggle-arrow" onclick="toggleDetails('{{ key }}')">▼</span>
                                <strong>{{ value.get('name', 'N/A') }} [<i style="color: rgb(72, 104, 194)"> {{ value.get('acronym', 'N/A') }} </i>] :</strong>
                            </div>
                            <div class="test1">
                                <label for="included-{{ key }}">
                                    <p> Included ? <input type="checkbox" id="included-{{ key }}" name="included-{{ key }}" onclick="toggleIncluded('{{ key }}')"></p>
                                </label>
                                <label for="mandatory-{{ key }}">
                                    <p> Mandatory ? <input type="checkbox" id="mandatory-{{ key }}" name="mandatory-{{ key }}" disabled onclick="toggleMandatoryOptional('{{ key }}')"></p>
                                </label>
                                <label for="optional-{{ key }}">
                                    <p> Optional ? <input type="checkbox" id="optional-{{ key }}" name="optional-{{ key }}" disabled onclick="toggleMandatoryOptional('{{ key }}')"></p>
                                </label>
                            </div>
                        </div>
                        <div id="details-{{ key }}" class="details-hidden">
                            <div><strong><i>Identifier</i></strong> : {{ value.get('identifier', 'N/A') }}</div>
                        
                            <div><strong><i>Description</i></strong> : {{ value.get('description', 'N/A') }}</div>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
</div>
<script src="{{ url_for('static', filename='scripts/contract-details.js') }}"></script>
<script>
    
</script>

<a href="{{ url_for('index') }}" class="button">Back to list</a>
{% endblock %}
